<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AmazonBookScraperSuite">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <test name="AmazonBookScraperTest">
        <classes>
            <class name="org.example.SampleTest"/>
        </classes>
    </test>
</suite>
